/* 
.mayor{
  width: 77.2rem;
  height: 41.8rem;
}

.container{
  margin: 1rem;
  margin-left: 1px;
}

.titulo {
font-size: 2.5rem;

}
.Descripcion {
font-size: 2.1rem;

}
.horarios {
font-size: 2rem;
}

.solicitar{
  color: black;
}

.contenido{
    text-align: center;
}

.horas{
  display: flex;
  margin-left: 7rem;
}

.horas-sabado, .sabado {
  margin-top: 1rem;
}


.caja{
  margin-top: 2rem;
}
*/
.imagen {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  
} 

/*.todo_contenido{
  margin: 1rem;
}  */