.btn-ba {
    --bs-btn-color: #fff;
    --bs-btn-bg: #39A900;
    --bs-btn-border-color: #39A900;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2F7C00;
    --bs-btn-hover-border-color: #2F7C00;
    --bs-btn-focus-shadow-rgb: 57, 169, 0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2F7C00;
    --bs-btn-active-border-color: #2F7C00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #39A900;
    --bs-btn-disabled-border-color: #39A900;
}

.card-title-ba {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #39A900;
    font-family: "Poppins", sans-serif;
}

.vinculos {
    color: #39A900;
    text-decoration: none;
}

.vinculos:hover {
    color: #4CAF50; /* Un tono más claro de verde */
    text-decoration: none;
}