body{
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.mayor{
  width: 77.2rem;
  height: 41.8rem;
}

.container{
  margin: 1rem;
  margin-left: 1px;
}

/* Estilos personalizados */
.titulo {
font-size: 2.5rem;

}
.Descripcion {
font-size: 2.1rem;

}
.horarios {
font-size: 2rem;
}

.solicitar{
  color: black;
}

.contenido{
    text-align: center;
}

.horas{
  display: flex;
  margin-left: 7rem;
}

.horas-sabado, .sabado {
  margin-top: 1rem;
}


li{
  list-style: none;
}

.caja{
  margin-top: 2rem;
}

.imagen {
  width: 100%; /* Ajustar el ancho al 100% del contenedor */
  height: 100%; /* Ajustar la altura al 100% del contenedor */
  object-fit: cover; /* Escalar la imagen para que cubra todo el contenido del div */
  /* border-radius: 50%; */
}

.todo_contenido{
  margin: 1rem;
}
