.btn-ba {
    --bs-btn-color: #fff;
    --bs-btn-bg: #39A900;
    --bs-btn-border-color: #39A900;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2F7C00;
    --bs-btn-hover-border-color: #2F7C00;
    --bs-btn-focus-shadow-rgb: 57, 169, 0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2F7C00;
    --bs-btn-active-border-color: #2F7C00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #39A900;
    --bs-btn-disabled-border-color: #39A900;
}

.btn-ba-rojo {
    --bs-btn-color: #fff;
    --bs-btn-bg: #DC3545; /* Fondo rojo */
    --bs-btn-border-color: #DC3545; /* Borde rojo */
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #C82333; /* Fondo rojo más oscuro al pasar el ratón */
    --bs-btn-hover-border-color: #BD2130; /* Borde rojo más oscuro al pasar el ratón */
    --bs-btn-focus-shadow-rgb: 220, 53, 69; /* Sombra roja al enfocar */
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #C82333; /* Fondo rojo más oscuro al hacer clic */
    --bs-btn-active-border-color: #BD2130; /* Borde rojo más oscuro al hacer clic */
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #DC3545; /* Fondo rojo */
    --bs-btn-disabled-border-color: #DC3545; /* Borde rojo */
}

.btn-ba-amarillo {
    --bs-btn-color: #212529;
    --bs-btn-bg: #FFC107; /* Fondo amarillo */
    --bs-btn-border-color: #FFC107; /* Borde amarillo */
    --bs-btn-hover-color: #212529;
    --bs-btn-hover-bg: #E0A800; /* Fondo amarillo más oscuro al pasar el ratón */
    --bs-btn-hover-border-color: #D39E00; /* Borde amarillo más oscuro al pasar el ratón */
    --bs-btn-focus-shadow-rgb: 255, 193, 7; /* Sombra amarilla al enfocar */
    --bs-btn-active-color: #212529;
    --bs-btn-active-bg: #E0A800; /* Fondo amarillo más oscuro al hacer clic */
    --bs-btn-active-border-color: #D39E00; /* Borde amarillo más oscuro al hacer clic */
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: #FFC107; /* Fondo amarillo */
    --bs-btn-disabled-border-color: #FFC107; /* Borde amarillo */
}

.btn-ba-gris {
    --bs-btn-color: #ffffff; /* Texto blanco */
    --bs-btn-bg: #6c757d; /* Fondo gris */
    --bs-btn-border-color: #6c757d; /* Borde gris */
    --bs-btn-hover-color: #ffffff; /* Texto blanco al pasar el ratón */
    --bs-btn-hover-bg: #5a6268; /* Fondo gris más oscuro al pasar el ratón */
    --bs-btn-hover-border-color: #545b62; /* Borde gris más oscuro al pasar el ratón */
    --bs-btn-focus-shadow-rgb: 108, 117, 125; /* Sombra gris al enfocar */
    --bs-btn-active-color: #ffffff; /* Texto blanco al hacer clic */
    --bs-btn-active-bg: #5a6268; /* Fondo gris más oscuro al hacer clic */
    --bs-btn-active-border-color: #545b62; /* Borde gris más oscuro al hacer clic */
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffffff; /* Texto blanco cuando está deshabilitado */
    --bs-btn-disabled-bg: #6c757d; /* Fondo gris */
    --bs-btn-disabled-border-color: #6c757d; /* Borde gris */
}



.card-title-ba {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #39A900;
    font-family: "Poppins", sans-serif;
}

.card-title-ba-azul {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #00324D;  /* AZUL-VERDE */
    font-family: "Poppins", sans-serif;
}



.vinculos {
    color: #39A900;
    text-decoration: none;
}

.vinculos:hover {
    color: #4CAF50; /* Un tono más claro de verde */
    text-decoration: none;
}